<ion-content [fullscreen]="true">
  <div class="flex-center">
    <form [formGroup]="form">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input placeholder="Enter Email" fill="outline" typeof="email" formControlName="email"></ion-input>
          </ion-item>
          <ion-label color="danger">{{message}}</ion-label>
          <ion-label color="danger" *ngIf="form.get('email')?.hasError('required') && form.get('email')?.touched">EMAIL required!</ion-label>
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input placeholder="Enter Password" fill="outline" type="password" formControlName="password"></ion-input>
          </ion-item>
          <div class="flex-column">
            <ion-label color="danger">{{message2}}</ion-label>
            <ion-label color="danger" *ngIf="form.get('password')?.hasError('pattern')">Min 1 Upper- & Lowercase & digit</ion-label>
          </div>
          <div class="flex-between">
            <ion-button color="success" [disabled]="!form.valid" (click)="navigateToHomePage()">Login</ion-button>
            <ion-label color="danger" *ngIf="form.get('password')?.hasError('minlength') && form.get('password')?.touched">Min 6 characters</ion-label>
            <ion-label color="danger" *ngIf="form.get('password')?.hasError('maxlength') && form.get('password')?.touched">MAX 30 characters</ion-label>
          </div>
        </ion-card-content>
      </ion-card>
    </form>
  </div>
</ion-content>
