<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="flex-between">
      <ion-buttons>
        <ion-back-button (click)="goBack()"></ion-back-button>
      </ion-buttons>
      <ion-title>Full information</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Full information</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-label>
    {{ data }}
  </ion-label>
</ion-content>
