<ion-header>
  <ion-toolbar>
    <div class="flex-between">
      <ion-title size="large">Contacts</ion-title>
      <ion-button fill="clear" (click)="scan()" [disabled]="!isSupported"><ion-icon name="scan"></ion-icon></ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <div id="contaioner">
    <ion-list *ngFor="let c of contacts">
      <ion-item button="true" (click)="showDetail(c)">
        <ion-label>
          {{c?.name?.display}}
          <p>{{join(c?.phones)}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
